.product-grid {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-card {
    flex: 0 0 auto;
    min-width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
}

.product-image {
    position: relative;
    width: 100%;
    height: 0;
    border-radius: 10px;
    overflow: hidden;
}

.product-card .shimmer-effect {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #f6f7f8 0%, #eaebed 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-size: 800px 104px;
    animation: shimmer 1.5s infinite linear;
}

.product-card img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px;
    overflow: hidden;
}

@keyframes shimmer {
    0% {
        background-position: -800px 0;
    }

    100% {
        background-position: 800px 0;
    }
}


.dashboard-container {
    position: relative;
    padding: 10px;
}

.add-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.add-button:hover {
    background-color: #0056b3;
}



.grid-item {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}